@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #0798F2, #1C3659);
}
main{
    background-color: #D9C49C;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #045e96;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: black ;
    text-align: center;
}
p 
    {text-align: justify;}